/*
    clearfix
    --------

    Adds clearfix to the element
============================================================================= */

@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin cf() {
    @include clearfix();
}
