/* ====================================
    Colors
==================================== */

$c-primairy    : #223df1;

$c-text        : rgba(black, .8);
$c-link        : $c-primairy;
$c-link-hover  : darken($c-link, 5%);
$c-link-visited: darken($c-link, 10%);

$white: #FFF;

$gray1: #1c1c1c;
$gray2: #3d3d3d;
$gray3: #3d3d3d;

$gray4: #cdcdcd;
$gray5: #d9d9d9;
$gray6: #e6e6e6;

$black: #000;
