/*
    Button styling
    --------------
============================================================================= */

button,
.Button {
    position: relative;
    padding: .32em 1em;
    overflow: hidden;

    font-weight: bold;

    background: $c-background;
    border: none;
    color: $c-text;
    border: none;
    box-shadow: 0 0 0 1px rgba($gray1, .1);

    transition: 150ms ease-in-out;
    transition-property: transform, box-shadow, color, background-color;

    &:hover {
        box-shadow: 0 12px 50px -6px rgba($gray1, .3);
    }

    &:focus,
    &:active {
        transform: translateY(-1px);
        outline: none;
        color: $white;
        background-color: darken($c-primairy, 5%);
        box-shadow: 0 12px 50px -6px rgba($c-primairy, .4);
    }
}

input {
    padding: .5em .8em;
    margin: 0;
    border: 0;
    background: white;
    border: 1px solid $gray3;

    &:focus {
        outline: none;
        border-color: $gray3;
    }
}
