/*
    Button styling
    --------------
============================================================================= */

button,
.Button {
    background: $gray1;
    color: $white;
    padding: .28em 1em;
    // border-radius: .1em;
    border: none;
    // font-weight: bold;
    transition: 150ms ease-in-out;
    transition-property: background, color;

    &:hover {
        background: $c-primairy;
        border-color: $c-primairy;
    }

    &:active {
        transform: translateY(1px);
    }

    &:focus {
        outline: none;
        background-color: $gray2;
        border-color: $gray2;
    }
}

input {
    padding: .5em 1.5em;
    margin: 0;
    border: 0;
    background: white;
}
