/*
    forms styling
    -------------
============================================================================= */

.Form {

}

.FormItem {
    position: relative;
    padding-top: $spacing;

    &-label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: .6rem 1.5rem;
        line-height: 1;
        border: 1px solid transparent;
        transition: all 50ms ease-in-out;
    }

    &-input {
        width: 100%;
        line-height: 1;
        border: none;
        border-bottom: 1px solid $gray5;
    }

    &-input:focus + &-label,
    &-input:valid + &-label {
        transform: translateY(-100%);
        font-size: 0.8rem;
        opacity: 1;
    }
}
