/*
    spacing variables
    -----------------


============================================================================= */

$gutter: 1rem;

$spacing-large: #{$line-height * 2 + 'rem'};
$spacing: #{$line-height + 'rem'};
$spacing-small: #{$line-height / 2 + 'rem'};
