/*
    Global stylesheet
    -----------------

    Imports all partials for the global styling used on all pages
============================================================================= */

// variables
@import 'styles/variables/typo';
@import 'styles/variables/colors';
@import 'styles/variables/spacings';
// helpers
@import 'normalize.css/normalize.css';
@import 'styles/helpers/mixins';
// foundation
@import 'styles/foundation/base';
@import 'styles/foundation/typography';
@import 'styles/foundation/forms';
@import 'styles/foundation/print';
// components

// hack file
@import 'styles/hacks';

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    border: 1px solid tomato;
    cursor: none;
    max-width: 100%;
    width: auto;
}
